link to dataset: https://www.kaggle.com/code/fireballbyedimyrnmom/pet-food-customer-orders

In [40]:
import pandas as pd
import matplotlib.pyplot as plt


# Load the dataset
file_path = 'pet_food_customer_orders.csv'
data = pd.read_csv(file_path)

# Display the first few rows to understand the dataset
data.head()

,customer_id,pet_id,pet_order_number,wet_food_order_number,orders_since_first_wet_trays_order,pet_has_active_subscription,pet_food_tier,pet_signup_datetime,pet_allergen_list,pet_fav_flavour_list,...,dental_treat_packs,wet_food_textures_in_order,total_web_sessions,total_web_sessions_since_last_order,total_minutes_on_website,total_minutes_on_website_since_last_order,total_wet_food_updates,total_wet_food_updates_since_last_order,last_customer_support_ticket_date,customer_support_ticket_category
0,10574848487411271014,4466839344031767293,2,1.0,1.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,6,4,101,32,0,0,2019-03-16 09:10:12+00:00,proactive
1,10574848487411271014,4466839344031767293,1,NaN,NaN,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,NaN,2,1,69,3,0,0,2019-03-16 09:10:12+00:00,proactive
2,10574848487411271014,4466839344031767293,8,7.0,7.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,18,0,184,0,0,0,2019-10-26 06:10:13+00:00,account
3,10574848487411271014,4466839344031767293,4,3.0,3.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,13,6,130,15,0,0,2019-04-23 06:28:12+00:00,account
4,10574848487411271014,4466839344031767293,9,8.0,8.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,19,1,184,0,0,0,2019-10-26 06:10:13+00:00,account

In [41]:

# Reload the dataset to ensure we have the cleaned version
file_path = 'pet_food_customer_orders.csv'
data = pd.read_csv(file_path)

# Drop columns that are unlikely to be useful for classification
columns_to_drop = ["total_wet_food_updates", "total_wet_food_updates_since_last_order", "last_customer_support_ticket_date", "wet_tray_size", "wet_food_textures_in_order", 'pet_signup_datetime', 'last_customer_support_ticket_date', 'customer_id', 'pet_id', 'pet_allergen_list', 'pet_fav_flavour_list', "customer_support_ticket_category"]
data_cleaned = data.drop(columns=columns_to_drop)

# Convert all categorical columns to string type to avoid any type conflicts
for column in data_cleaned.select_dtypes(include=['object']).columns:
    data_cleaned[column] = data_cleaned[column].astype(str)



# Convert boolean columns to numeric (True -> 1, False -> 0)
data_cleaned['pet_has_active_subscription'] = data_cleaned['pet_has_active_subscription'].astype(int)

# Convert categorical columns to numeric using label encoding
data_cleaned['pet_food_tier'] = data_cleaned['pet_food_tier'].astype('category').cat.codes

# Converting categorical columns with multiple levels to dummy/one-hot encoding
data_cleaned = pd.get_dummies(data_cleaned, drop_first=True)

# Ensure all values are numeric and handle any columns with mixed data types
data_cleaned = data_cleaned.apply(pd.to_numeric, errors='ignore')


data.head(30)

C:\Users\Dell XPS 15\AppData\Local\Temp\ipykernel_17776\1008954769.py:25: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data_cleaned = data_cleaned.apply(pd.to_numeric, errors='ignore')

,customer_id,pet_id,pet_order_number,wet_food_order_number,orders_since_first_wet_trays_order,pet_has_active_subscription,pet_food_tier,pet_signup_datetime,pet_allergen_list,pet_fav_flavour_list,...,dental_treat_packs,wet_food_textures_in_order,total_web_sessions,total_web_sessions_since_last_order,total_minutes_on_website,total_minutes_on_website_since_last_order,total_wet_food_updates,total_wet_food_updates_since_last_order,last_customer_support_ticket_date,customer_support_ticket_category
0,10574848487411271014,4466839344031767293,2,1.0,1.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,6,4,101,32,0,0,2019-03-16 09:10:12+00:00,proactive
1,10574848487411271014,4466839344031767293,1,NaN,NaN,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,NaN,2,1,69,3,0,0,2019-03-16 09:10:12+00:00,proactive
2,10574848487411271014,4466839344031767293,8,7.0,7.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,18,0,184,0,0,0,2019-10-26 06:10:13+00:00,account
3,10574848487411271014,4466839344031767293,4,3.0,3.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,13,6,130,15,0,0,2019-04-23 06:28:12+00:00,account
4,10574848487411271014,4466839344031767293,9,8.0,8.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,19,1,184,0,0,0,2019-10-26 06:10:13+00:00,account
5,6342772975217424401,11842806521695140337,6,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,15,2,118,1,0,0,NaN,NaN
6,6342772975217424401,11842806521695140337,3,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,7,5,36,1,0,0,NaN,NaN
7,6342772975217424401,11842806521695140337,9,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,32,6,134,4,0,0,NaN,NaN
8,6342772975217424401,11842806521695140337,1,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,1,0,32,0,0,0,NaN,NaN
9,6342772975217424401,11842806521695140337,7,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,20,5,127,9,0,0,NaN,NaN
10,6342772975217424401,11842806521695140337,11,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,4,NaN,41,6,948,813,0,0,NaN,NaN
11,6342772975217424401,11842806521695140337,2,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,2,1,35,3,0,0,NaN,NaN
12,6342772975217424401,11842806521695140337,8,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,26,6,130,3,0,0,NaN,NaN
13,6342772975217424401,11842806521695140337,5,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,13,2,117,7,0,0,NaN,NaN
14,6342772975217424401,11842806521695140337,4,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,11,4,110,74,0,0,NaN,NaN
15,6342772975217424401,11842806521695140337,10,NaN,NaN,True,premium,1970-01-01 00:00:01.551530404,NaN,NaN,...,0,NaN,35,3,135,1,0,0,NaN,NaN
16,6018609623462647744,7813136397831853268,3,NaN,NaN,True,mid,1970-01-01 00:00:01.574034625,NaN,NaN,...,0,NaN,4,2,10,0,0,0,NaN,NaN
17,6018609623462647744,7813136397831853268,2,NaN,NaN,True,mid,1970-01-01 00:00:01.574034625,NaN,NaN,...,0,NaN,2,1,10,2,0,0,NaN,NaN
18,6018609623462647744,7813136397831853268,1,NaN,NaN,True,mid,1970-01-01 00:00:01.574034625,NaN,NaN,...,0,NaN,1,0,8,0,0,0,NaN,NaN
19,6018609623462647744,7813136397831853268,5,NaN,NaN,True,mid,1970-01-01 00:00:01.574034625,NaN,NaN,...,0,NaN,6,2,10,0,0,0,NaN,NaN
20,6018609623462647744,7813136397831853268,4,NaN,NaN,True,mid,1970-01-01 00:00:01.574034625,NaN,NaN,...,0,NaN,4,0,10,0,0,0,NaN,NaN
21,4432388076718555246,1618828947225592661,2,NaN,NaN,True,superpremium,1970-01-01 00:00:01.576324724,beef dairy egg soya wheat,NaN,...,0,NaN,5,4,127,3,0,0,NaN,NaN
22,4432388076718555246,1618828947225592661,5,NaN,NaN,True,superpremium,1970-01-01 00:00:01.576324724,beef dairy egg soya wheat,NaN,...,0,NaN,13,4,291,47,0,0,2020-03-06 11:02:19+00:00,website
23,4432388076718555246,1618828947225592661,4,NaN,NaN,True,superpremium,1970-01-01 00:00:01.576324724,beef dairy egg soya wheat,NaN,...,0,NaN,9,0,244,0,0,0,NaN,NaN
24,4432388076718555246,1618828947225592661,1,NaN,NaN,True,superpremium,1970-01-01 00:00:01.576324724,beef dairy egg soya wheat,NaN,...,0,NaN,1,0,124,0,0,0,NaN,NaN
25,4432388076718555246,1618828947225592661,3,NaN,NaN,True,superpremium,1970-01-01 00:00:01.576324724,beef dairy egg soya wheat,NaN,...,0,NaN,9,4,244,117,0,0,NaN,NaN
26,894531069061266030,10743516050352051975,2,NaN,NaN,True,superpremium,1970-01-01 00:00:01.572899180,NaN,Chicken,...,0,NaN,2,1,23,0,0,0,NaN,NaN
27,894531069061266030,10743516050352051975,1,NaN,NaN,True,superpremium,1970-01-01 00:00:01.572899180,NaN,Chicken,...,0,NaN,1,0,23,0,0,0,NaN,NaN
28,894531069061266030,10743516050352051975,3,NaN,NaN,True,superpremium,1970-01-01 00:00:01.572899180,NaN,Chicken,...,0,NaN,7,5,809,786,0,0,NaN,NaN
29,17505316106326511065,7986011032199863210,1,NaN,NaN,False,mid,1970-01-01 00:00:01.576180504,NaN,NaN,...,0,NaN,1,0,24,0,0,0,NaN,NaN