link to dataset: https://www.kaggle.com/code/fireballbyedimyrnmom/pet-food-customer-orders

In [384]:
import pandas as pd
import matplotlib.pyplot as plt



# Load the dataset
file_path = 'pet_food_customer_orders.csv'
data = pd.read_csv(file_path)

# Display the first few rows to understand the dataset
data.head()

,customer_id,pet_id,pet_order_number,wet_food_order_number,orders_since_first_wet_trays_order,pet_has_active_subscription,pet_food_tier,pet_signup_datetime,pet_allergen_list,pet_fav_flavour_list,...,dental_treat_packs,wet_food_textures_in_order,total_web_sessions,total_web_sessions_since_last_order,total_minutes_on_website,total_minutes_on_website_since_last_order,total_wet_food_updates,total_wet_food_updates_since_last_order,last_customer_support_ticket_date,customer_support_ticket_category
0,10574848487411271014,4466839344031767293,2,1.0,1.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,6,4,101,32,0,0,2019-03-16 09:10:12+00:00,proactive
1,10574848487411271014,4466839344031767293,1,NaN,NaN,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,NaN,2,1,69,3,0,0,2019-03-16 09:10:12+00:00,proactive
2,10574848487411271014,4466839344031767293,8,7.0,7.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,18,0,184,0,0,0,2019-10-26 06:10:13+00:00,account
3,10574848487411271014,4466839344031767293,4,3.0,3.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,13,6,130,15,0,0,2019-04-23 06:28:12+00:00,account
4,10574848487411271014,4466839344031767293,9,8.0,8.0,True,superpremium,1970-01-01 00:00:01.552397819,NaN,Chicken,...,0,gravy jelly pate,19,1,184,0,0,0,2019-10-26 06:10:13+00:00,account

In [385]:
columns_to_drop = ['customer_support_ticket_category',"last_customer_support_ticket_date", "total_wet_food_updates_since_last_order","total_wet_food_updates","total_minutes_on_website_since_last_order","wet_food_textures_in_order","wet_food_textures_in_order","dental_treat_packs","premium_treat_packs","wet_tray_size","wet_food_discount_percent","wet_trays","wet_kcal","kibble_kcal","order_payment_date","pet_signup_datetime","orders_since_first_wet_trays_order","pet_order_number" ]
data_cleaned = data.drop(columns=columns_to_drop)

data_cleaned.head(10)

,customer_id,pet_id,wet_food_order_number,pet_has_active_subscription,pet_food_tier,pet_allergen_list,pet_fav_flavour_list,pet_health_issue_list,neutered,gender,pet_breed_size,signup_promo,ate_wet_food_pre_tails,dry_food_brand_pre_tails,pet_life_stage_at_order,total_order_kcal,total_web_sessions,total_web_sessions_since_last_order,total_minutes_on_website
0,10574848487411271014,4466839344031767293,1.0,True,superpremium,NaN,Chicken,"digestion, joints",True,female,large,Null & Default,True,Canagan,mature,38111.374,6,4,101
1,10574848487411271014,4466839344031767293,NaN,True,superpremium,NaN,Chicken,"digestion, joints",True,female,large,Null & Default,True,Canagan,mature,21419.305,2,1,69
2,10574848487411271014,4466839344031767293,7.0,True,superpremium,NaN,Chicken,"digestion, joints",True,female,large,Null & Default,True,Canagan,mature,24976.836,18,0,184
3,10574848487411271014,4466839344031767293,3.0,True,superpremium,NaN,Chicken,"digestion, joints",True,female,large,Null & Default,True,Canagan,mature,39519.114,13,6,130
4,10574848487411271014,4466839344031767293,8.0,True,superpremium,NaN,Chicken,"digestion, joints",True,female,large,Null & Default,True,Canagan,mature,24964.300,19,1,184
5,6342772975217424401,11842806521695140337,NaN,True,premium,NaN,NaN,NaN,True,female,medium,Refer a Friend,True,Pets at Home Complete,mature,14435.990,15,2,118
6,6342772975217424401,11842806521695140337,NaN,True,premium,NaN,NaN,NaN,True,female,medium,Refer a Friend,True,Pets at Home Complete,mature,9982.410,7,5,36
7,6342772975217424401,11842806521695140337,NaN,True,premium,NaN,NaN,NaN,True,female,medium,Refer a Friend,True,Pets at Home Complete,mature,14725.590,32,6,134
8,6342772975217424401,11842806521695140337,NaN,True,premium,NaN,NaN,NaN,True,female,medium,Refer a Friend,True,Pets at Home Complete,mature,10012.050,1,0,32
9,6342772975217424401,11842806521695140337,NaN,True,premium,NaN,NaN,NaN,True,female,medium,Refer a Friend,True,Pets at Home Complete,mature,14348.890,20,5,127

In [386]:
# Group by 'pet_id' and sum the numerical columns, 1 pet - 1 row
data_grouped = data_cleaned.groupby('pet_id', as_index=False).sum()

# For text columns, keep the first non-null value (you can change the aggregation method as needed)
for column in data_cleaned.select_dtypes(include=['object']).columns:
    data_grouped[column] = data_cleaned.groupby('pet_id')[column].transform('first')

# Display the result in the notebook
print(data_grouped.head(6))  # Adjust the number of rows to display as needed

             pet_id           customer_id  wet_food_order_number  \
0   362965707402215  13532943617097586668                    0.0
1   706834797910282   8696047625945376636                    0.0
2  2956959132340850    321528785738535935                    0.0
3  3456354353280655  13353379245930111744                    3.0
4  4037557184041398   2972398134742263688                    0.0
5  6070178093349860  17405950162202091788                    0.0

   pet_has_active_subscription pet_food_tier pet_allergen_list  \
0                            0  superpremium              None
1                            0  superpremium              None
2                            0  superpremium              None
3                            4  superpremium              None
4                            0  superpremium              None
5                            4       premium              None

  pet_fav_flavour_list pet_health_issue_list  neutered  gender pet_breed_size  \
0              Chicken     digestion, joints         1  female          large
1              Chicken     digestion, joints         0  female          large
2              Chicken     digestion, joints         0  female          large
3              Chicken     digestion, joints         4  female          large
4              Chicken     digestion, joints         8  female          large
5                 None                  None         0  female         medium

     signup_promo  ate_wet_food_pre_tails dry_food_brand_pre_tails  \
0  Null & Default                       1                  Canagan
1  Null & Default                       0                  Canagan
2  Null & Default                       1                  Canagan
3  Null & Default                       0                  Canagan
4  Null & Default                       0                  Canagan
5  Refer a Friend                       4    Pets at Home Complete

  pet_life_stage_at_order  total_order_kcal  total_web_sessions  \
0                  mature         6198.3440                   1
1                  mature        47147.8160                  11
2                  mature         2398.9680                   2
3                  mature       107410.6000                   7
4                  mature       110461.6000                  16
5                  mature        67387.7825                  19

   total_web_sessions_since_last_order  total_minutes_on_website
0                                    0                        12
1                                    3                        18
2                                    1                       615
3                                    2                       813
4                                    1                       168
5                                    5                       125

In [387]:
# Save the grouped data to a CSV file
# data_grouped.to_csv('lesscolumns.csv', index=False)

Let's work with columns and follow 0 (no) or 1 (yes) logic

In [388]:

# Reload the dataset
file_path = 'lesscolumns.csv'
data = pd.read_csv(file_path)

# Apply the transformation to 'wet_food_order_number' as described
data['wet_food_order_number'] = data['wet_food_order_number'].apply(
    lambda x: 1 if x > 0 else 0
)

# Display the first few rows to check the changes
data[['wet_food_order_number']].head(7)

   wet_food_order_number
0                      0
1                      0
2                      0
3                      1
4                      0
5                      0
6                      1

0 = no wet_food , 1 it has

In [389]:
# Same transformation to the 'pet_has_active_subscription' column
# If the value is True, set it to 1 (indicating the pet has an active subscription), otherwise set it to 0

data['pet_has_active_subscription'] = data['pet_has_active_subscription'].apply(
   lambda x: 1 if x > 0 else 0
)


# Same to the next column
data['neutered'] = data['neutered'].apply(
   lambda x: 1 if x > 0 else 0
)

# Same to the another column
data['ate_wet_food_pre_tails'] = data['ate_wet_food_pre_tails'].apply(
   lambda x: 1 if x > 0 else 0
)

# Display the first few rows to check the changes
data[['ate_wet_food_pre_tails']].head(7)

   ate_wet_food_pre_tails
0                       1
1                       0
2                       1
3                       0
4                       0
5                       1
6                       0

0 = no subscribtion , 1 = it has and etc.

Let's devide the food to premium = 1 and not premium = 0

In [390]:
# Ð¢ransformation to 'pet_food_tier' column
# If the pet food tier is 'premium' or 'superpremium', set it to 1, otherwise set it to 0

data['pet_food_tier'] = data['pet_food_tier'].apply(
    lambda x: 1 if x in ['premium', 'superpremium'] else 0
)

# If the sign up promo is Null & Default this is 0, if 1 - any promo has been used
data['signup_promo'] = data['signup_promo'].apply(
    lambda x: 0 if x in ['Null & Default'] else 1
)


# Display the first few rows to check the changes
data[['signup_promo']].head(22)

    signup_promo
0              0
1              0
2              0
3              0
4              0
5              1
6              1
7              1
8              1
9              1
10             1
11             1
12             1
13             1
14             1
15             1
16             1
17             1
18             1
19             1
20             1
21             1

In [391]:
# Ð¢ransformation to 'pet_fav_flavour_list' column
# If there is any text (i.e., not empty or NaN), set it to 1; otherwise set it to 0

data['pet_fav_flavour_list'] = data['pet_fav_flavour_list'].apply(
    lambda x: 1 if pd.notnull(x) and x != '' else 0
)

# Same to the next column
data['pet_health_issue_list'] = data['pet_health_issue_list'].apply(
    lambda x: 1 if pd.notnull(x) and x != '' else 0
)

# Same to the next column
data['dry_food_brand_pre_tails'] = data['dry_food_brand_pre_tails'].apply(
    lambda x: 1 if pd.notnull(x) and x != '' else 0
)

# Same to the another column
data['pet_allergen_list'] = data['pet_allergen_list'].apply(
    lambda x: 1 if pd.notnull(x) and x != '' else 0
)


# To display rows 51 to 60 of the 'dry_food_brand_pre_tails' column
data[['dry_food_brand_pre_tails']].iloc[51:61]  # Note: Python indexing is exclusive of the last index, so 66 will show up to row 65.

    dry_food_brand_pre_tails
51                         1
52                         1
53                         1
54                         1
55                         1
56                         0
57                         0
58                         0
59                         1
60                         1

In [392]:
data[['pet_allergen_list']].head(26)

    pet_allergen_list
0                   0
1                   0
2                   0
3                   0
4                   0
5                   0
6                   0
7                   0
8                   0
9                   0
10                  0
11                  0
12                  0
13                  0
14                  0
15                  0
16                  0
17                  0
18                  0
19                  0
20                  0
21                  1
22                  1
23                  1
24                  1
25                  1

In [393]:
# "If 'male', set to 1; if 'female', set to 2; otherwise set to 0."
data['gender'] = data['gender'].apply(
    lambda x: 1 if x == 'male' else 2 if x == 'female' else 0  # default to 0 if the value is not avalable
)


# Display the first few rows to check the changes
data[['gender']].head(25)

    gender
0        2
1        2
2        2
3        2
4        2
5        2
6        2
7        2
8        2
9        2
10       2
11       2
12       2
13       2
14       2
15       2
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1

Same way to another column with 3 possible values

In [394]:
# "If 'small', set to 1; if 'medium', set to 2; otherwise set to 3 (large)."
data['pet_breed_size'] = data['pet_breed_size'].apply(
    lambda x: 1 if x == 'small' else 2 if x == 'medium' else 3  # default to 0 if the value is not avalable
)

# Display the first few rows to check the changes
data[['pet_breed_size']].head(25)

    pet_breed_size
0                3
1                3
2                3
3                3
4                3
5                2
6                2
7                2
8                2
9                2
10               2
11               2
12               2
13               2
14               2
15               2
16               1
17               1
18               1
19               1
20               1
21               1
22               1
23               1
24               1

Next step I want to separate pets by age: Weaning Half-mature Mature will be in one group (7 weeks to 7 years) in numeric it is 1
Senior (this age is 7 years and more) in numeric it is 2
* 1 group = potential long - term clients
* 2 group potential short term cliens

In [395]:
data['pet_life_stage_at_order'] = data['pet_life_stage_at_order'].apply(
    lambda x: 1 if x in ['weaning', 'half_maturity', "mature"] else 2
)

data[['pet_life_stage_at_order']].head(35)

    pet_life_stage_at_order
0                         1
1                         1
2                         1
3                         1
4                         1
5                         1
6                         1
7                         1
8                         1
9                         1
10                        1
11                        1
12                        1
13                        1
14                        1
15                        1
16                        1
17                        1
18                        1
19                        1
20                        1
21                        1
22                        1
23                        1
24                        1
25                        1
26                        1
27                        1
28                        1
29                        1
30                        1
31                        2
32                        1
33                        1
34                        1

In [396]:
# Display the first few rows to understand the dataset
# data.head()

The final dataset for analytics

In [397]:
#final_pet_food_dataset = 'final_pet_food_dataset.csv'
#data.to_csv(final_pet_food_dataset, index=False)

In [398]:
data.head()

,pet_id,customer_id,wet_food_order_number,pet_has_active_subscription,pet_food_tier,pet_allergen_list,pet_fav_flavour_list,pet_health_issue_list,neutered,gender,pet_breed_size,signup_promo,ate_wet_food_pre_tails,dry_food_brand_pre_tails,pet_life_stage_at_order,total_order_kcal,total_web_sessions,total_web_sessions_since_last_order,total_minutes_on_website
0,3.629660e+14,1.353290e+19,0,0,1,0,1,1,1,2,3,0,1,1,1,6198.344,1,0,12
1,7.068350e+14,8.696050e+18,0,0,1,0,1,1,0,2,3,0,0,1,1,47147.816,11,3,18
2,2.956960e+15,3.215290e+17,0,0,1,0,1,1,0,2,3,0,1,1,1,2398.968,2,1,615
3,3.456350e+15,1.335340e+19,1,1,1,0,1,1,1,2,3,0,0,1,1,107410.600,7,2,813
4,4.037560e+15,2.972400e+18,0,0,1,0,1,1,1,2,3,0,0,1,1,110461.600,16,1,168