link to dataset: https://www.kaggle.com/datasets/jeleeladekunlefijabi/ship-fuel-consumption-and-co2-emissions-analysis

In [65]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load the dataset
file_path = "ship_fuel_efficiency.csv"  
df = pd.read_csv(file_path)

# This helps us understand the structure of the dataset
# Display dataset info
df.info()

# Show the first few rows
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ship_id             1440 non-null   object
 1   ship_type           1440 non-null   object
 2   route_id            1440 non-null   object
 3   month               1440 non-null   object
 4   distance            1440 non-null   float64
 5   fuel_type           1440 non-null   object
 6   fuel_consumption    1440 non-null   float64
 7   CO2_emissions       1440 non-null   float64
 8   weather_conditions  1440 non-null   object
 9   engine_efficiency   1440 non-null   float64
dtypes: float64(4), object(6)
memory usage: 112.6+ KB
  ship_id         ship_type             route_id     month  distance  \
0   NG001  Oil Service Boat          Warri-Bonny   January    132.26
1   NG001  Oil Service Boat  Port Harcourt-Lagos  February    128.52
2   NG001  Oil Service Boat  Port Harcourt-Lagos     March     67.30
3   NG001  Oil Service Boat  Port Harcourt-Lagos     April     71.68
4   NG001  Oil Service Boat          Lagos-Apapa       May    134.32

  fuel_type  fuel_consumption  CO2_emissions weather_conditions  \
0       HFO           3779.77       10625.76             Stormy
1       HFO           4461.44       12779.73           Moderate
2       HFO           1867.73        5353.01               Calm
3    Diesel           2393.51        6506.52             Stormy
4       HFO           4267.19       11617.03               Calm

   engine_efficiency
0              92.14
1              92.98
2              87.61
3              87.42
4              85.61

In [66]:
# Check data types of each column
print(df.dtypes)

# Identify columns with object (categorical) data
categorical_columns = df.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_columns)

ship_id                object
ship_type              object
route_id               object
month                  object
distance              float64
fuel_type              object
fuel_consumption      float64
CO2_emissions         float64
weather_conditions     object
engine_efficiency     float64
dtype: object
Categorical columns: Index(['ship_id', 'ship_type', 'route_id', 'month', 'fuel_type',
       'weather_conditions'],
      dtype='object')

In [67]:
# Initialize Label Encoder for ship_id
ship_id_encoder = LabelEncoder()

# Convert ship_id to numeric values
df["ship_id_numeric"] = ship_id_encoder.fit_transform(df["ship_id"])

# Store the mapping of ship_id (original -> numeric)
ship_id_mapping = dict(zip(df["ship_id"], df["ship_id_numeric"]))

# Display the first few rows to check the conversion
print(df[["ship_id", "ship_id_numeric"]].head())

  ship_id  ship_id_numeric
0   NG001                0
1   NG001                0
2   NG001                0
3   NG001                0
4   NG001                0

In [68]:
# Display unique values in the 'month' column
print(df["month"].unique())

# Define mapping for month names
month_mapping = {
    "January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6,
    "July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12
}

# Apply mapping
df["month_numeric"] = df["month"].map(month_mapping)

# Check if NaNs still exist
print(df["month_numeric"].isna().sum())

['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August'
 'September' 'October' 'November' 'December']
0

In [69]:
# Remove any leading/trailing spaces in month names
df["month"] = df["month"].str.strip()

# Define correct mapping for month names
month_mapping = {
    "January": 1, "February": 2, "March": 3, "April": 4, "May": 5, "June": 6,
    "July": 7, "August": 8, "September": 9, "October": 10, "November": 11, "December": 12
}

# Convert month names to numbers using mapping
df["month_numeric"] = df["month"].map(month_mapping)

# Check if any NaN values exist after conversion
print(df["month_numeric"].isna().sum())

# Display first few rows to verify correct conversion
print(df[["month", "month_numeric"]].head())

0
      month  month_numeric
0   January              1
1  February              2
2     March              3
3     April              4
4       May              5

In [ ]:
# Convert remaining categorical columns using Label Encoding
label_encoders = {}
for col in ["ship_type", "fuel_type", "weather_conditions", "route_id"]:
    if col in df.columns:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))  # Convert to string to avoid errors
        label_encoders[col] = le  # Store encoder for reference
    else:
        print(f"Warning: '{col}' column not found, skipping encoding.")

# Drop original 'ship_id' and 'month' columns if no longer needed
df.drop(columns=["ship_id", "month"], errors="ignore", inplace=True)
print(df.head())

   ship_type  route_id  distance  fuel_type  fuel_consumption  CO2_emissions  \
0          1         3    132.26          1           3779.77       10625.76
1          1         2    128.52          1           4461.44       12779.73
2          1         2     67.30          1           1867.73        5353.01
3          1         2     71.68          0           2393.51        6506.52
4          1         1    134.32          1           4267.19       11617.03

   weather_conditions  engine_efficiency  ship_id_numeric  month_numeric
0                   2              92.14                0              1
1                   1              92.98                0              2
2                   0              87.61                0              3
3                   2              87.42                0              4
4                   0              85.61                0              5

In [71]:
# Get the current column list
columns = list(df.columns)

# Define the new order
new_order = [columns[0], "ship_id_numeric", "month_numeric"] + [col for col in columns if col not in ["ship_id_numeric", "month_numeric"]]

# Reorder DataFrame
df = df[new_order]

# Display the updated column order
print(df.head())

   ship_type  ship_id_numeric  month_numeric  ship_type  route_id  distance  \
0          1                0              1          1         3    132.26
1          1                0              2          1         2    128.52
2          1                0              3          1         2     67.30
3          1                0              4          1         2     71.68
4          1                0              5          1         1    134.32

   fuel_type  fuel_consumption  CO2_emissions  weather_conditions  \
0          1           3779.77       10625.76                   2
1          1           4461.44       12779.73                   1
2          1           1867.73        5353.01                   0
3          0           2393.51        6506.52                   2
4          1           4267.19       11617.03                   0

   engine_efficiency
0              92.14
1              92.98
2              87.61
3              87.42
4              85.61

In [ ]:
# Save the cleaned dataset
df.to_csv("ship_fuel_efficiency_numeric.csv", index=False)